##############################################
# PYTHON / VIRTUAL ENVIRONMENTS
##############################################
venv/
tfm/
*.pyc
__pycache__/


##############################################
# ENVIRONMENT VARIABLES (NEVER VERSION)
##############################################
.env


##############################################
# DATA DIRECTORIES (Handled by DVC)
##############################################
data/raw/*
!data/raw/.gitkeep
!data/raw/*.dvc

data/processed/*
!data/processed/.gitkeep
!data/processed/*.dvc

##############################################
# MODEL ARTIFACTS (Handled by DVC)
##############################################
models/*
!models/.gitkeep


##############################################
# MLFLOW EXPERIMENT LOGS
##############################################
mlruns/


##############################################
# DVC INTERNAL CACHE (Do NOT track)
##############################################
.dvc/cache/
.dvc/tmp/


##############################################
# JUPYTER NOTEBOOKS CHECKPOINTS
##############################################
.ipynb_checkpoints/


##############################################
# LOGS
##############################################
logs/
!logs/.gitkeep


##############################################
# OS / EDITOR JUNK FILES
##############################################
.DS_Store
Thumbs.db